.App {
  background-color: #d2d0dd;
}
body {
  background-color: #d2d0dd;
}

.part-one {
  background-color: #53389f;
  color: white;
}
.part-two {
  background-color: white;
}
span {
  font-weight: 500;
  font-size: 12px;
}
.p-content {
  font-size: 10px;
}
input {
  border: 0;
  border: 0.1px solid rgb(125, 125, 125);
  border-radius: 2%;
}
.next-button {
  border: 0;
  background-color: #7f56da;
  color: white;
  height: 30px;
  width: 50%;
  border-radius: 10%;
}
.next-button:hover {
  background-color: #53389f;
}

.prev-button {
  border: 0.1px solid #7f56da;
  background-color: white;
  color: #7f56da;
  height: 30px;
  width: 50%;
  border-radius: 10%;
}

.prev-button:hover {
  background-color: #7f56da;
  color: white;
}
.rounded-pill {
  text-align: center;

  width: 25px;
  background-color: black;
}
/* PROGRESS BAR */
.progressbar {
  width: 400px;
  height: 10px;
  background-color: white;
  margin-bottom: 50px;
}

.progress-bar-dev {
  width: 33.3%;
  height: 5px;
  background-color: rgb(98, 0, 255);
}
